name: Test GHCR Publish

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Login GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Verificar login
        run: |
          docker info

      - name: Construir imagen
        run: docker build -t ghcr.io/drakww/lab-docker-web:latest .

      - name: Publicar imagen
        run: docker push ghcr.io/drakww/lab-docker-web:latest
